.content-html {
    white-space: pre-wrap;
    word-break: break-word;
}

.content-html p,
.content-html h1,
.content-html h2,
.content-html h3,
.content-html h4,
.content-html h5,
.content-html h6,
.content-html ul,
.content-html ol,
.content-html blockquote,
.content-html pre,
.content-html div {
    margin: revert;
    padding: revert;
}

.content-html p:empty,
.content-html div:empty {
    min-height: 1rem;
}

.content-html ul {
    list-style: disc;
    padding-left: 1.25rem;
}

.content-html ol {
    list-style: decimal;
    padding-left: 1.25rem;
}